<div class="container">
    <div class="row" ng-controller="TestCtrl">
        <div class="col-xs-12">
            <h1>It's working!</h1>
            <br>
            <input type="text" ng-model="messageToSend">
            <button type="button" ng-click="sendMessage()">Send</button>
            <br>
            <div>
                {{messageReceived}}
            </div>
            <br>
            <div class="">
                <ul>
                    <li>Question: {{questionReceived.question}}</li>
                    <li>Answer: {{questionReceived.answer}}</li>
                </ul>
            </div>
        </div>
    </div>
</div>
